%hamburger-line {
  content: "";
  border-radius: 5px;
  background: #173a56;
  display: inline-block;
  height: 3px;
  width: 100%;
  position: absolute;
}

.hamburger {
  width: 31px;
  display: none;

  position: relative;
  height: 25px;
 margin-right: 37px;
  @include media-tablet {
      display: inline-block;
  }
  &:before {
    top: 0;
    left: 0;
    @extend %hamburger-line;
  }
  &:after {
    bottom: 0;
    left: 0;
    @extend %hamburger-line;
  }
}

.hamburger__line {
  @extend %hamburger-line;
  top: calc(50% - 1.5px);
  left: 0;
}
